div.container#bubbles
div.container-fluid#footer
	div.row
		div.two.columns.offset-by-one.column
			h3 Testimonial
			img(src="../dist/img/home/profile1.png").profile
			br
			img(src="../dist/img/home/profile2.png").profile
		div.two.columns
			br
			br
			p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
			h5(class="redHeader") -Jhon Kalis
			p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
			h5(class="redHeader") -Abraham Josef
		div.two.columns
			h3 Contacts
			p E-mail: miau@gmail.com
			p Phone: 2227739463
			p Fax: 2222222222
		div.container#form
			div.row
				div.five.columns
					form
						h3 Send a message
						input(type="text", placeholder="Name", class="footerForm")
						br
						input(type="email", placeholder="E-mail Id", class="footerForm")
						br
						textarea(placeholder="Your text here", class="footerForm")
						br
						a(href="#", class="footerForm").button#submit SUBMIT