div.container
	div.row
		div.seven.columns
			img(src="../dist/img/logo.png", alt="logo Triangle")
		div.five.columns
			a(href="home.html") Home
			a(href="index.html") Pages
			a(href="#") Blog
			a(href="portfolio.html") Portfolio
			a(href="#") Shortcodes