doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Home
		include includes/links.pug
		link(rel="stylesheet", href="../dist/css/home.css")
	body
		include includes/nav.pug
		br
		div.container#nerds
			div.row
				div.twelve.columns
					div.six.columns#txtCreativeNerds
						h2 We Are Creative Nerds
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						a(href="#").button SIGN UP
					div.six.columns
						img(src="../dist/img/home/slider/hill.png", id="hills", alt="montañas")
		br
		div.container
			div.row
				div.four.columns
					img(src="../dist/img/home/icon1.png")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				div.four.columns
					img(src="../dist/img/home/icon2.png")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				div.four.columns
					img(src="../dist/img/home/icon3.png")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		br
		div.container#midleBar
		br
		div.container
			div.row
				div.five.columns
					img(src="../dist/img/home/image1.png")
				div.seven.columns
					h3 Lorem ipsum dolor sit amet.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			br
			div.row
				div.seven.columns
					h3 Lorem ipsum dolor sit amet.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				div.five.columns
					img(src="../dist/img/home/image2.png")
			br
			div.row
				div.five.columns
					img(src="../dist/img/home/image3.png")
				div.seven.columns
					h3 Lorem ipsum dolor sit amet.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		div.container#fortune
			div.row
				div.twelve.columns
					img(src="../dist/img/home/clients.png")#ruedaFortuna
					h3 Lorem ipsum dolor sit amet.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		include includes/footer.pug