doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title About us
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="../dist/css/normalize.css")
		link(rel="stylesheet", href="../dist/css/skeleton.css")
		link(rel="stylesheet", href="../dist/css/main.css")
	body
		div.container
			div.row
				div.seven.columns
					img(src="../dist/img/logo.png")
				div.five.columns
					a(href="#") Home
					a(href="#") Pages
					a(href="#") Blog
					a(href="#") Portfolio
					a(href="#") Shortcodes
		br
		div.container#aboutUsHeader
			div.row
				div.twelve.columns#aboutTxt
					h3 About Us
					h6 Why our Clients love to work with us.
		br
		div.container
			div.row
				div.six.columns
					img(src="../dist/img/aboutus/1.png")
				div.six.columns#txtBottom
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		br
		div.container#caracteristicas
			div.row
				div.four.columns
					img(src="../dist/img/home/icon1.png")
					br
					br
					h4 Incredibly Responsive
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
				div.four.columns
					img(src="../dist/img/home/icon2.png")
					br
					br
					h4 Superior Typography
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
				div.four.columns
					img(src="../dist/img/home/icon3.png")
					br
					br
					h4 Swift Page Builder
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
		br
		div.container
			div.row#template
				div.seven.columns
					h3 Triangle Corporate Template
					h6 A responsive, retina-ready & wide multipurpose template.
				div.one.column
					a(href="#").button#tour Take the tour
				div.four.columns
					img(src="../dist/img/home/tour-icon2.png")
		br
		div.container
			div.row
				div.twelve.columns
					h3 Meet the team
					h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
				div.three.columns
					img(src="../dist/img/aboutus/4.jpg").carousel
					h4 John Doe
					h6 CEO & Developer
				div.three.columns
					img(src="../dist/img/aboutus/3.jpg").carousel
					h4 John Doe
					h6 CEO & Developer
				div.three.columns
					img(src="../dist/img/aboutus/2.jpg").carousel
					h4 John Doe
					h6 CEO & Developer
				div.three.columns
					img(src="../dist/img/aboutus/1.jpg").carousel
					h4 John Doe
					h6 CEO & Developer
		div.container#bubbles
		div.conatiner#footer
			div.row
				div.one.column
				div.two.columns
					h3 holi
					h3 holi
					h3 holi
					h3 holi


		







